.wrapper{
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ), url("../images/typewriter.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	height: 100vh;
  	width: 100%;
  	padding-bottom: 20%;
}
.row{
	margin-right: 0;
}
.wrapper h1{
	color: white;
	margin-top: 5%;
	margin-bottom: 17%;
	text-shadow: -3px 2px #000000;
}
.navbar.navbar-inverse{
   background-color: #000000;
}
.form{
	background-color: rgba(255, 255, 255, .82);
	padding: 2%;
	border-radius: 6px;
}
#messages{
	margin-top: 3%;
}
.heading{
	margin-top: 2%;
	margin-bottom: 2%;
}
.quote-container{
	height: 60vh;
	border-radius: 3px;
	overflow: scroll;
}
#quotes{
	margin-bottom: 5%;
}
#quotes h2{
	margin-bottom: 3%;
}
.quote-author{
	font-weight: bold;
	margin-right: 5px;
}